
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="product-list">
            <div class="product-card" >
              <!-- Construction correcte de l'URL -->
              <img [src]="'http://127.0.0.1:8000/storage/'+product?.image" alt="{{ product?.titre }}" class="product-image">
              <div class="product-info">
                <h3 class="product-name">{{ product?.titre }}</h3>
                <p class="product-price">{{ product?.prix_location }}</p>
                <button class="btn">Reserver</button>
                <button class="btn">Vister</button>
                  </div>
            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>