<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Creer un compte</h5>
            <form (ngSubmit)="submit(clientForm)" #clientForm="ngForm" enctype="multipart/form-data" novalidate>
  
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="client.nom" name="nom" required>
                <div *ngIf="clientForm.submitted && !client.nom" class="text-danger">Le nom est requis</div>
              </div>
  
              <div class="form-group">
                <label for="prenom">Prenom:</label>
                <input type="text" class="form-control" id="prenom" [(ngModel)]="client.prenom" name="prenom" required>
                <div *ngIf="clientForm.submitted && !client.prenom" class="text-danger">Le prénom est requis</div>
              </div>
  
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="client.email" name="email" required>
                <div *ngIf="clientForm.submitted && !client.email" class="text-danger">L email n est pas valide</div>
              </div>
  
              <div class="form-group">
                <label for="tel">Tel:</label>
                <input type="text" class="form-control" id="tel" [(ngModel)]="client.tel" name="tel" required>
                <div *ngIf="clientForm.submitted && !client.tel" class="text-danger">Telephone est requis</div>
              </div>

              <div class="form-group">
                <label for="tel">Adresse</label>
                <input type="text" class="form-control" id="adresse" [(ngModel)]="client.adresse" name="tel" required>
                <div *ngIf="clientForm.submitted && !client.adresse" class="text-danger">L adresse est requis !</div>
              </div>
              <div class="form-group">
                <label for="piece_identite">Piece-identité:</label>
                <input type="file" class="form-control-file" (change)="onFileSelected($event)">
                <div *ngIf="clientForm.submitted && !selectedFile" class="text-danger">Piece-identité est requis</div>
              </div>

              <div class="form-group">
                <label for="tel">Mot de passe:</label>
                <input type="password" class="form-control" id="tel" [(ngModel)]="client.password" name="password" required>
                <div *ngIf="clientForm.submitted && !client.password" class="text-danger">Le mot de passe est requis</div>
              </div>

              <div class="form-group">
                <label for="tel">Confirmation de mot de passe:</label>
                <input type="password" class="form-control" id="tel" [(ngModel)]="password_confirm" name="password_confirm" required>
                <div *ngIf="clientForm.submitted && !password_confirm" class="text-danger">Telephone est requis</div>
              </div>
  
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>

            <a href="/login-client">Page de connexion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  